owner=""
password=""
portBD=""
host=""
# database name
database=""
schema="pulic"

# BD DESARROLLO
# DATABASE_URL="postgresql://${owner}:${password}@${host}:${portBD}/${database}?schema=${schema}"


# Confing JWT
JWT_SECRET=""
JWT_EXPIRATION=""

# Gemini AI Configuration
API_KEY_GEMINI=""

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=